extends layout

block content
  h1= title
  div#error(style:{display:block;})

  form(id='mangoForm', action="/resource/resource/mangoes", method="POST")
    div.form-group
        label.costumeAttr(for='Type') Mango type
        input#costumetype(type='text', name='Type')
    div.form-group
        label.costumeAttr(for='color') Mango Color
        input#size(type='text', name='color')
    div.form-group
        label.costumeAttr(for='price') Mango cost
        input#cost(type='number', name='price')
    input(type="submit")

  script.
    document.forms['mangoForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      // TODO do something here to show user that form is being submitted
      fetch(event.target.action, {
        method: 'POST',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      }).then((resp) => {
         document.getElementById("error").style.display="block"
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        if(body.name){
          document.getElementById("error").innerHTML=`${body.name}  \n ${body.message}\n`;
          alert("Save Failed")
        }else{
           alert("Save succeded")
        }
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Save failed " + error )
      });
    });
